<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Employee-CRUD-Operation-Spring-MVC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<servlet-name>EmployeeCrud</servlet-name>
		
		<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/EmployeeCrud-servlet.xml</param-value>
		
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmployeeCrud</servlet-name>
		<url-pattern>/index/*</url-pattern>

	</servlet-mapping>
</web-app>